<% if (post.link){ %>
<div class="item">
  <div class="title">
    <a href="<%- url_for(post.link) %>"><%= post.title %></a>
  </div>
  <div class="info">
    <ul>
      <li>评论 6</li>
      <li>阅读 16</li>
      <li>更新 <time datetime="<%- date_xml(post.updated) %>" itemprop="dateUpdated"><%- date(post.updated) %></time></li>
    </ul>
  </div>
</div>
<% } else if (post.title){ %>
  <% if (index){ %>
    <div class="item">
      <div class="title">
        <a href="<%- url_for(post.path) %>"><%= post.title %></a>
      </div>
      <div class="info">
        <ul>
          <li>发布 <time datetime="<%- date_xml(post.date) %>" itemprop="date"><%- date(post.date) %></time>
          </li>
          <li>更新 <time datetime="<%- date_xml(post.updated) %>" itemprop="dateUpdated"><%- date(post.updated) %></time>
          </li>
          <li> 评论 <span id = "url::<%= config.url + url_for(post.path) %>" class = "cy_cmt_count" ></span>
          </li>
        </ul>
      </div>
    </div>
  <% } else { %>
  <h1 class="title">
    <%= post.title %>
  </h1>
  <% } %>
<% } %>
