<div class="left-aside">
    <div class="face-img"><img src="<%=theme.avatar%>"></div>
    <div class="intro-word">
        <h2><%=theme.author%></h2>
        <p><%=theme.description%></p>
    </div>
    <div class="sns">
        <ul>
            <% for (var i in theme.subnav){ %>
            <li>
                <a class="<%= i %>" target="_blank" href="<%- url_for(theme.subnav[i]) %>" title="<%= i %>">
                    <img src="<%= config.root %>./img/icon-<%= i %>.png" alt="<%= i %>" data-tooltip="<%= i %>">
                </a>
            </li>
            <%}%>
        </ul>
    </div>
</div>
<div class="right-aside">
    <div class="right-nav ms">
        <div class="main">
            <ul class="left">
                <% for (var i in theme.menu){ %>
                <li>
                    <a href="<%- url_for(theme.menu[i]) %>">
                        <%= i %>
                    </a>
                </li>
                <% } %>
            </ul>
            <div class="search">
                <input type="search"  id="search" class="input-search" placeholder="搜索">
                <i class="icon-search"></i>
                <div class="search-result-box">
                  <ul id="search-result">
                  </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="right-main">
        <div class="category">
            <ul>
                <li><a href="<%- config.root %>" class="<%- is_home() ? "active" : null %>">最新</a></li>
                <% site.categories.sort('name').each(function(item){ %>
                    <li><a href="<%- config.root %><%- item.path %>" class="<%- is_current(item.path) ? "active" : null %>"><%= item.name %></a></li>
                <% }) %>
            </ul>
        </div>
        <div class="clear"></div>
        <div class="list">
            <div>
                <% page.posts.each(function(post, index){ %>
                <%- partial('_partial/post/title',{post: post,index: true}) %>
                <% }) %>
                <%- partial('_partial/paginator') %>
            </div>
        </div>
        <div class="clear"></div>
        <div class="coding">
          <a href="https://coding.net/pages">
            <img src="<%= config.root %>./img/coding.png">
          </a>
        </div>
    </div>
</div>
<script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<script id="cy_cmt_num" src="https://changyan.sohu.com/upload/plugins/plugins.list.count.js?clientId=cysVQ7NO7">
</script>
<%- partial('_partial/script.ejs') %>
