<canvas id="pattern-placeholder" height="230"></canvas>
<div class="navbar-header">
  <a class="blog-title" href="<%= config.root %>"><%= config.title %></a>
  <a class="face-img" href="<%= config.root %>">
    <img src="<%=theme.avatar%>">
  </a>
</div>
<main>
  <div class="article-title">
    <%- partial('_partial/post/title') %>
    <ul class="article-info">
      <li>
        发布
        <%- partial('post/date') %>
      </li>
      <li>
        <%- partial('post/updated') %>
      </li>
      <li id="busuanzi_container_page_pv">
        阅读 <span id="busuanzi_value_page_pv"></span>
      </li>
    </ul>
  </div>
  <div class="container">
    <div class="article">
      <div class="content">
        <%- post.content %>
      </div>
        <div class="support-author">
          <p>感谢您的阅读。 🙏
            <a href="https://hufangyun.com/2018/copyright-reprinted/" target="_blank">关于转载请看这里</a>
            <!--<a class="btn-pay"  href="#pay-modal">¥ 打赏支持</a>-->
          </p>
        </div>
        <!--
            <div class="like ">
              <div class="like-button">
                <a id="like-note" href="">
                  <i class="icon-heart"></i>喜欢
                </a>
              </div>
              <span id="likes-count">256</span>
            </div>
        -->
        <div class="otherLink">
          <div class="previous">
          </div>
          <div class="next">
          </div>
        </div>
        <div class="comments" id="comments">
          <%- partial('post/comments') %>
        </div>
      </div>
    </div>
   </div>
</main>
<div class="footer">
  <div class="info">
    <p>
    七牛云加速 | <a href="https://hexo.io"> Hexo </a> 强力驱动 |
      <a href="https://github.com/Youthink/VicSugar"> VicSugar </a>
      主题
    </p>
      <p>&copy;2013-2017 胡方运的博客 鲁ICP备15009509号</p>
  </div>
</div>
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<% if (post.mathjax){ %>
  <%- partial('_partial/post/mathjax') %>
<% } %>
<%- partial('script.ejs') %>
